@import "../../node_modules/tailwindcss/dist/lib.d.mts";
@source inline("text-green-500");
@source inline("text-red-500");
@source inline("group");
@source inline("inline-block");
@source inline("rounded-full");
@source inline("bg-linear-to-r");
@source inline("from-pink-500");
@source inline("via-red-500");
@source inline("to-yellow-500");
@source inline("p-0.5");
@source inline("hover:text-white");
@source inline("block");
@source inline("bg-white");
@source inline("px-8");
@source inline("py-3");
@source inline("text-sm");
@source inline("font-medium");
@source inline("group-hover:bg-transparent");