name: Production

on:
  push:
    branches: [main]
  workflow_dispatch: #

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run Linter
        run: npm run lint

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install & Build
        run: |
          npm ci
          npm run build

      - name: Organize Production Files
        run: |
          mkdir -p staging
          cp index.html staging/    
          cp -r dist/ staging/dist/     

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: production-files
          path: staging/
          retention-days: 1


  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: production
    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: production-files
          path: deploy-files

      - name: Clean remote directory
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: rm -rf /var/www/typinggame.floriskroeze.nl/*

      - name: Copy new files
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "deploy-files/*"
          target: "/var/www/typinggame.floriskroeze.nl"
          strip_components: 1
          rm: false 